{% extends "base.html.twig" %}

{% block title %}L'accueil de loisirs{% endblock %}
{% block class %}periscolaire{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title first-color mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-xl-2 center-x-y">
                        <img class="img-fluid object-fit-contain h-auto" src="{{ asset('img/logo-haut-poitou.png') }}" alt="logo du haut poitou">
                    </div>
                    <div class="col-7 col-xl-9 center-x-y">
                        <p class="text-center">Accueil périscolaire du mercredi</p>
                    </div>
                    <div class="col-2 col-xl-1 center-x-y">
                        <img class="img-fluid object-fit-contain" src="{{ asset('img/logo-caf-vienne.png') }}" alt="logo de la caf de la vienne">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-3 description">
                    <div class="col-md-6">
                        {{ information_description.content|raw }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="{{ asset('img/avanton-creche-exterieur-2-1300x867.jpg') }}" alt="" class="img-fluid h-auto image-description" data-aos="fade-left" data-aos-duration="3000">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title second-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">L'équipe d'animations</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 1 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="sun position-relative" data-aos="zoom-in">
                            <div class="sun-container">
                                {{ include('icons/sun.html.twig') }}
                            </div>
                            <div class="name">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 2 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container cloud-director">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name mt-3">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 3 %}
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name mt-3">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title third-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Tarifs</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {# <div class="row mb-4">
                    <div class="col-lg-4 offset-lg-4">
                        <select id="communeSelect" class="form-select form-select-lg" aria-label="Large select example">
                            <option selected>Choisissez votre commune</option>
                            <option value="1" data-reduce="2.70">AVANTON</option>
                            <option value="2" data-reduce="2.60">CHABOURNAY</option>
                            <option value="3" data-reduce="2.90">CISSE</option>
                            <option value="4" data-reduce="3.40">NEUVILLE</option>
                            <option value="5" data-reduce="3.00">ST MARTIN LA PALLUE</option>
                            <option value="6" data-reduce="4.00">VILLIERS</option>
                            <option value="7" data-reduce="0.00">Communauté de communes</option>
                            <option value="8" data-reduce="0.00">Hors communauté de commune</option>
                        </select>
                    </div>
                </div> #}
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h3 class="text-center">Accueil périscolaire du mercredi après-midi</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Tranche quotient familial</th>
                                    <th scope="col" class="text-center">Tarifs à la demi-journée (13h-18h30)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">0 à 700</td>
                                    <td class="text-center">{{ '3.90' ~ ' ' ~ '€' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">701 à 900</td>
                                    <td class="text-center">{{ '4.80' ~ ' ' ~ '€' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">901 à 1100</td>
                                    <td class="text-center">{{ '5.60' ~ ' ' ~ '€' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">1101 à 1300</td>
                                    <td class="text-center">{{ '6.50' ~ ' ' ~ '€' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">1301 à 1500</td>
                                    <td class="text-center">{{ '7.40' ~ ' ' ~ '€' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Plus de 1500</td>
                                    <td class="text-center">{{ '8.20' ~ ' ' ~ '€' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team mb-5">
        <div class="section-title fourth-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Horaires</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {{ information_time.content|raw }}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
    document.getElementById('communeSelect').addEventListener('change', function() {
        var communeSelect = document.getElementById('communeSelect');
        var selectedOption = communeSelect.options[communeSelect.selectedIndex];
        
        // Obtenez la valeur de la remise à partir de l'attribut data-remise
        var reduceHolidays = parseFloat(selectedOption.getAttribute('data-remise')) || 0;

        // Mettez à jour le texte du montant de la remise
        document.getElementById('montantRemise').innerText = '{{ ('11.90' - reduceHolidays)|number_format(2, '.') ~ ' ' ~ '€' }}';
    });
</script>
{% endblock %}
