{% extends "base.html.twig" %}

{% block title %}L'accueil périscolaire{% endblock %}
{% block class %}periscolaire{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title bg-2 mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-xl-2 center-x-y">
                        <img class="img-fluid object-fit-contain h-auto" src="{{ asset('img/logos/logo-avanton.jpg') }}" alt="logo mairie d'avanton">
                    </div>
                    <div class="col-7 col-xl-9 center-x-y">
                        <p class="text-center">Accueil périscolaire (garderie)</p>
                    </div>
                    <div class="col-2 col-xl-1 center-x-y">
                        <img class="img-fluid object-fit-contain" src="{{ asset('img/logos/logo-caf-vienne.png') }}" alt="logo de la caf de la vienne">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-6 mb-3 description">
                        <img
                            srcset="
                            {{ asset('img/periscolaire/periscolaire-320.jpg') }} 320w,
                            {{ asset('img/periscolaire/periscolaire-500.jpg') }} 500w,
                            {{ asset('img/periscolaire/periscolaire-800.jpg') }} 800w
                            "
                            sizes="
                            (max-width: 320px) 320px,
                            (max-width: 500px) 500px,
                            800px,
                            "
                            src="{{ asset('img/periscolaire/periscolaire-800.jpg') }}" 
                            alt="photo de l'accueil périscolaire d'avanton" 
                            class="img-fluid h-auto image-description" 
                            data-aos="fade-right" 
                            data-aos-duration="3000">
                    </div>
                    <div class="col-md-6">
                        {{ information_description.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">L'équipe d'animations</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 1 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="sun position-relative" data-aos="zoom-in">
                            <div class="sun-container">
                                {{ include('icons/sun.html.twig') }}
                            </div>
                            <div class="name flex-column">
                                <div>{{ teammate.firstname }}</div>
                                <div>{{ teammate.lastname }}</div>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 2 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container cloud-director">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name flex-column mt-2">
                                <div>{{ teammate.firstname }}</div>
                                <div>{{ teammate.lastname }}</div>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 3 %}
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name flex-column mt-2">
                                <div>{{ teammate.firstname }}</div>
                                <div>{{ teammate.lastname }}</div>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title bg-4 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Tarifs</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-10 offset-xxl-1">
                        <h3 class="text-center">Accueil périscolaire du matin et soir</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Tranche quotient familial</th>
                                    <th scope="col" class="text-center">Matin (7h30-8h35) indivisible</th>
                                    <th scope="col" class="text-center">Soir (16h-17h) avec goûter indivisible</th>
                                    <th scope="col" class="text-center">Soir (demi-heure)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price in prices %}
                                <tr>
                                    <td class="text-center">{{ price.familyQuotient }}</td>
                                    <td class="text-center">{{ price.morning|number_format(2, '.') ~ ' ' ~ '€' }}</td>
                                    <td class="text-center">{{ price.eveningFirstHour|number_format(2, '.') ~ ' ' ~ '€' }}</td>
                                    <td class="text-center">{{ price.eveningHalfHour|number_format(2, '.') ~ ' ' ~ '€' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team mb-5">
        <div class="section-title bg-2 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Horaires</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {{ information_time.content|raw }}
            </div>
        </div>
    </section>
    <section class="periscolaire-team mb-5">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Documents à fournir</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{ documents_list.content|raw }}
                    </div>
                    <div class="col-md-6 col-lg-4">
                        {% for document in documents %}
                            <div class="card border-0 shadow mb-3">
                                <div class="row g-0">
                                    <div class="col-4 green-text p-4">
                                        {% include('icons/paperclip.html.twig') %}
                                    </div>
                                    <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ document.label }}</h5>
                                        <a href="{{ asset('uploads/doc/' ~ document.documentSource ) }}" download class="btn btn-success">Télécharger</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}