{% extends "base.html.twig" %}

{% block title %}L'accueil de loisirs{% endblock %}
{% block class %}periscolaire{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title bg-2 mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-xl-2 center-x-y">
                        <img class="img-fluid object-fit-contain h-auto" src="{{ asset('img/logo-haut-poitou.png') }}" alt="logo du haut poitou">
                    </div>
                    <div class="col-7 col-xl-9 center-x-y">
                        <p class="text-center">Accueil de loisirs du mercredi</p>
                    </div>
                    <div class="col-2 col-xl-1 center-x-y">
                        <img class="img-fluid object-fit-contain" src="{{ asset('img/logo-caf-vienne.png') }}" alt="logo de la caf de la vienne">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-3 description">
                    <div class="col-md-6">
                        {{ information_description.content|raw }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="{{ asset('img/avanton-creche-exterieur-2-1300x867.jpg') }}" alt="" class="img-fluid h-auto image-description" data-aos="fade-left" data-aos-duration="3000">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">L'équipe d'animations</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 1 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="sun position-relative" data-aos="zoom-in">
                            <div class="sun-container">
                                {{ include('icons/sun.html.twig') }}
                            </div>
                            <div class="name">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row mb-5">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 2 %}
                    <div class="col-md-6 offset-md-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container cloud-director">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name mt-3">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for teammate in teammates %}
                    {% if teammate.hierarchy == 3 %}
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="cloud position-relative" data-aos="zoom-in-up">
                            <div class="cloud-container">
                                {{ include('icons/cloud.html.twig') }}
                            </div>
                            <div class="name mt-3">
                                <span>{{ teammate.firstname }} {{ teammate.lastname }}</span>
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title bg-4 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Tarifs</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-4 offset-lg-4">
                        <select class="form-select form-select-lg" aria-label="Large select example" onchange="changePrice()">
                            <option selected data-reduce="0.00">Choisissez votre commune <sup>*</sup></option>
                            {% set index = 1 %}
                            {% for city in cities %}
                            <option value="{{ index }}" data-reduce="{{ city.wednesdayReduce }}">{{ city.name }}</option>
                            {% set index = (index + 1) %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h3 class="text-center">Accueil périscolaire du mercredi après-midi</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Tranche quotient familial</th>
                                    <th scope="col" class="text-center">Tarifs à la demi-journée (13h-18h30)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price in prices %}
                                <tr>
                                    <td class="text-center">{{ price.familyQuotient }}</td>
                                    <td class="text-center">
                                        <span class="price">{{ (price.halfDay)|number_format(2, '.') }}</span>
                                        <span class="d-none"></span>
                                        <span> €</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p><sup>*</sup> selon votre commune, une aide peut vous être accordée par jour par enfant.</p>
                    </div>
                </div>
                {% if meal.mealPrice %}
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="alert alert-secondary" role="alert">
                            Le prix du repas pour les enfants de {{ meal.name }} est de {{ meal.mealPrice|number_format(2, '.') }} €.
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="periscolaire-team mb-5">
        <div class="section-title bg-1 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Horaires</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {{ information_time.content|raw }}
            </div>
        </div>
    </section>
    <section class="periscolaire-team mb-5">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Documents à fournir</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{ documents_list.content|raw }}
                    </div>
                    <div class="col-md-4">
                        {% for document in documents %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-4 green-text p-4">
                                        {% include('icons/paperclip.html.twig') %}
                                    </div>
                                    <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ document.label }}</h5>
                                        <a href="{{ asset('uploads/doc/' ~ document.documentSource ) }}" download class="btn btn-success">Télécharger</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="{{ asset('scripts/changePrice.js') }}"></script>
{% endblock %}
