{% extends "base.html.twig" %}

{% block title %}les articles{% endblock %}
{% block class %}article-page{% endblock %}

{% block body %}
    <section>
        <div class="section-title bg-2 mb-5">
            <div class="container">
                <p class="text-center">Les {{ category_label }}</p>
            </div>
        </div>
        <div class="container">
            {% set aos = "fade-left" %}
            {% for article in articles %}
            {% set description = article.content|striptags %}
            {% if aos == "fade-right" %}
            {% set aos = "fade-left" %}
            {% else %}
            {% set aos = "fade-right" %}
            {% endif %}
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="card mb-3"  data-aos="{{ aos }}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if article.picture %}
                                <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="card-img-top object-fit-contain" alt="...">
                                {% else %}
                                <img src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" class="card-img-top object-fit-contain" alt="...">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">{{ article.title }}</h5>
                                        <p class="card-text">
                                            <small class="text-body-secondary">
                                                Publié le {{ article.createdAt|date('d/m/Y') }}
                                            </small>
                                        </p>
                                        <p class="card-text">
                                            {{ description|slice(0, 300) }}
                                            {% if description|length > 300 %}
                                                <span> ...</span>
                                                <span class="collapse" id="collapseExample">
                                                    {{ description|slice(300, 10000) }}
                                                </span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            <a href="{{ path('app_page_article_show', {'id': article.id}) }}" class="btn btn-outline-warning w-100">Lire</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(articles) }}
            </div>
        </div>
    </section>
{% endblock %}