{% extends "base.html.twig" %}

{% block title %}Article{% endblock %}
{% block class %}article-page{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        {% if article.picture %}
                            <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="object-fit-contain h-auto rounded" alt="image de l'article {{ article.title }}">
                        {% else %}
                            <img src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" class="object-fit-contain h-auto rounded" alt="...">
                        {% endif %}
                        
                        <div class="card-body">
                            <h5 class="text-center">{{ article.title }}</h5>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                Publié le {{ article.createdAt|date('d/m/Y') }}
                                </small>
                            </p>
                            <div class="card-text">{{ article.content|raw }}</dib>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
{% endblock %}