{% extends "base.html.twig" %}

{% block title %}les articles{% endblock %}
{% block class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h3 class="mb-5">Les actualités</h3>
            {% for article in articles %}
            {% set description = article.content|striptags %}
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                {% if article.picture %}
                                <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="card-img-top" alt="...">
                                {% else %}
                                <img src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" class="card-img-top" alt="...">
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title|upper }}</h5>
                                    <p class="card-text">
                                        {{ description|slice(0, 300) }}
                                        {% if description|length > 300 %}
                                            <span> ...</span>
                                            <div>
                                                <button class="btn btn-outline-warning">Voir plus</button>
                                            </div>
                                        {% endif %}
                                    </p>
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            Publié le {{ article.createdAt|date('d/m/Y') }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        {% if article.picture %}
                        <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title|upper }}</h5>
                            <div class="card-text article-content">
                                {{ description|slice(0, 100) }}
                                {% if description|length > 100 %} ...{% endif %}
                            </div>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                Publié le {{ article.createdAt|date('d/m/Y') }}
                                </small>
                            </p>
                            <a href="{{ path('app_page_article_show', {'id': article.id}) }}" class="btn btn-outline-warning">Lire</a>
                        </div>
                    </div> #}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}