{% extends "base.html.twig" %}

{% block title %}L'association{% endblock %}
{% block class %}periscolaire{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title bg-2 mt-5 mb-5">
            <div class="container">
                <p class="text-center">L'association</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row description mt-3">
                    <div class="col-md-6 mb-3">
                        <img
                            srcset="
                            {{ asset('img/home/home-320.jpg') }} 320w,
                            {{ asset('img/home/home-500.jpg') }} 500w,
                            {{ asset('img/home/home-800.jpg') }} 800w
                            "
                            sizes="
                            (max-width: 320px) 320px,
                            (max-width: 500px) 500px,
                            800px
                            "
                            src="{{ asset('img/home/home-800.jpg') }}" 
                            alt="photo de l'accueil de loisirs d'avanton" 
                            class="img-fluid h-auto image-description" 
                            data-aos="fade-right" 
                            data-aos-duration="3000">
                    </div>
                    <div class="col-md-6">
                        {{ description.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="periscolaire-team">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Les membres du bureau</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mb-5 director">
                    {% for teammate in teammates %}
                        {% if teammate.hierarchy == 1 %}
                            {% set col = 'col-md-4 offset-md-2' %}
                            {% set hierarchy = 'star-director' %}
                            {% set border = 'border-1' %}
                            {% set color = 'red-text' %}
                        {% elseif teammate.hierarchy == 2 %}
                            {% set col = 'col-md-4' %}
                            {% set hierarchy = 'star-director-adjoint' %}
                            {% set border = 'border-2' %}
                            {% set color = 'yellow-text' %}
                        {% elseif teammate.hierarchy == 3 %}
                            {% set col = 'col-md-4' %}
                            {% set hierarchy = 'star-team' %}
                            {% set border = 'border-3' %}
                            {% set color = 'blue-text' %}
                        {% endif %}
                    <div class="{{ col }} mb-5">
                        <div class="star position-relative" data-aos="flip-down">
                            <div class="star-container {{ hierarchy }}">
                                {{ source('@icons_path/star.svg') }}
                                <div class="name flex-column">
                                    <div>{{ teammate.firstname }}</div>
                                    <div>{{ teammate.lastname }}</div>
                                </div>
                            </div>
                            <div class="picture">
                            {% if teammate.picture %}
                                <img src="{{ asset('uploads/cropped-img/' ~ teammate.picture) }}" alt="" class="rounded {{ border }}">
                            {% else %}
                            {% set initials = teammate.firstname|slice(0, 1) ~ teammate.lastname|slice(0, 1) %}
                                <div class="{{ border }} rounded d-flex justify-content-center align-items-center" style="height: 170px; width: 170px">
                                    <div class="fs-1 fw-bold {{ color }}">{{ initials|upper }}</div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="text-center mb-3 mt-3">{{ teammate.job }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="association-infos mb-5">
        <div class="section-title bg-4 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Informations</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {{ informations.content|raw }}
            </div>
        </div>
    </section>
    <section class="association-documents mb-5">
        <div class="section-title bg-1 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Documents</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                {% for document in documents %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 shadow mb-3">
                            <div class="row g-0">
                                <div class="col-4 red-text p-4">
                                    {{ source('@icons_path/paperclip.svg') }}
                                </div>
                                <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ document.label }}</h5>
                                    <a href="{{ asset('uploads/doc/' ~ document.documentSource ) }}" class="btn btn-danger" target="_blank">Ouvrir</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}