{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block class %}home{% endblock %}

{% block body %}
    <img class="bg-image" src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" alt="">
    <section class="articles">
        <div class="section-title first-color">
            <div class="container">
                <p class="text-center">L'actualité</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                        {% set description = article.content|striptags %}
                        <div class="col-xl-4 mb-5">
                            <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                                    <h5 class="card-title text-center">{{ article.title }}</h5>
                                {% if article.picture %}
                                <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="object-fit-contain h-auto rounded" alt="...">
                                 
                                {% else %}
                                <img src="{{ asset('img/avanton-creche-facade-1300x867.jpg') }}" class="object-fit-contain h-auto rounded" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                        Publié le {{ article.createdAt|date('d/m/Y') }}
                                        </small>
                                    </p>
                                    {% if article.content %}
                                    <div class="card-text article-content">
                                        {{ description|slice(0, 100)|raw }}
                                        {% if description|length > 100 %} ...{% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-4 offset-4">
                                            <a href="{{ path('app_page_article_show', {'id': article.id}) }}" class="btn btn-outline-warning w-100">Lire</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        {% if articles %}
                        <a href="{{ path('app_page_articles') }}"><button class="btn btn-outline-warning w-100 text-dark border-4 zoom-on-hover">Voir toutes les actualités</button></a>
                        {% else %}
                        <p class="text-center">Aucun article pour le moment</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-life">
        <div class="section-title second-color">
            <div class="container">
                <p class="text-center">La vie des accueils</p>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-5 p-5">
                        <a class="ellipse p-5" href="{{ path('app_page_periscolaire') }}">
                            <div class="icon">
                                <span>{{ include('icons/house.html.twig') }}</span>
                                <span>L'accueil</span>
                                <span>périscolaire</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-5 p-5">
                        <a class="ellipse p-5 " href="{{ path('app_page_mercredi') }}">
                            <div class="icon zoom-on-hover">
                                <span>{{ include('icons/balloon.html.twig') }}</span>
                                <span>L'accueil</span>
                                <span>de loisirs</span>
                                <span>mercredi</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-5 p-5">
                        <a class="ellipse p-5 " href="{{ path('app_page_loisirs') }}">
                            <div class="icon zoom-on-hover">
                                <span>{{ include('icons/sunglasses.html.twig') }}</span>
                                <span>L'accueil</span>
                                <span>de loisirs</span>
                                <span>vacances</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-5 p-5">
                        <a class="ellipse p-5" href="{{ path('app_page_association') }}">
                            <div class="icon zoom-on-hover">
                                <span>{{ include('icons/person.html.twig') }}</span>
                                <span>L'association</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-5 p-5">
                        <a class="ellipse p-5" href="{{ path('app_page_informations') }}">
                            <div class="icon zoom-on-hover">
                                <span>{{ include('icons/paperclip.html.twig') }}</span>
                                <span>Documents</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}