{% extends 'admin/dashboard.html.twig' %}

{% block title %}Price index{% endblock %}

{% block content %}
    <h3>Tous les tarifs</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Quotient familial</th>
                <th>Demi-journée (mercredi)</th>
                <th>Journée (vacances)</th>
                <th>Matin (garderie)</th>
                <th>Soir (16h-17h)</th>
                <th>Soir (demi-heure)</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.familyQuotient }}</td>
                <td>{{ price.halfDay|number_format(2, '.', ',') ~ ' €' }}</td>
                <td>{{ price.fullDay|number_format(2, '.', ',') ~ ' €' }}</td>
                <td>{{ price.morning|number_format(2, '.', ',') ~ ' €' }}</td>
                <td>{{ price.eveningFirstHour|number_format(2, '.', ',') ~ ' €' }}</td>
                <td>{{ price.eveningHalfHour|number_format(2, '.', ',') ~ ' €' }}</td>
                <td>
                    <a href="{{ path('app_price_edit', {'id': price.id}) }}">{{ include('icons/update.html.twig') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
