{% extends 'base.html.twig' %}

{% block title %}Price index{% endblock %}

{% block body %}
    <h1>Price index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FamilyQuotient</th>
                <th>HalfDay</th>
                <th>FullDay</th>
                <th>Morning</th>
                <th>EveningFirstHour</th>
                <th>EveningHalfHour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.id }}</td>
                <td>{{ price.familyQuotient }}</td>
                <td>{{ price.halfDay }}</td>
                <td>{{ price.fullDay }}</td>
                <td>{{ price.morning }}</td>
                <td>{{ price.eveningFirstHour }}</td>
                <td>{{ price.eveningHalfHour }}</td>
                <td>
                    <a href="{{ path('app_price_show', {'id': price.id}) }}">show</a>
                    <a href="{{ path('app_price_edit', {'id': price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_price_new') }}">Create new</a>
{% endblock %}
