{% extends 'admin/dashboard.html.twig' %}

{% block title %}Modifier information{% endblock %}


{% block breadcrumb %}
    {% if category.label == 'périscolaire' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_periscolaire') }}" class="text-dark">Accueil périscolaire</a></li>
    {% elseif category.label == 'mercredi' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_mercredi') }}" class="text-dark">Accueil mercredi</a></li>
    {% elseif category.label == 'loisirs' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_loisirs') }}" class="text-dark">Accueil de loisirs</a></li>
    {% elseif category.label == 'association' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_association') }}" class="text-dark">Association</a></li>
    {% elseif category.label == 'infos' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_informations') }}" class="text-dark">Infos pratiques</a></li>
    {% endif %}
    <li class="breadcrumb-item">{{ information.title ~ ' ' ~ category.label }}</li>
{% endblock %}

{% block content %}
    <h3>{{ information.title ~ ' ' ~ category.label }}</h3>

    {{ include('information/_form.html.twig') }}

{% endblock %}
