{% extends "base.html.twig" %}

{% block class %}dashboard{% endblock %}

{% block body %}
{# Navigation #}
    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <div class="row bg-4 rounded p-3">
                        <div class="col-12 mb-3">
                            <a class="nav-link zoom-on-hover text-light" href="{{ path('app_admin_index') }}"><h4>Administration</h4></a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_home') }}">Page Accueil</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_periscolaire') }}">Accueil périscolaire</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_mercredi') }}">Accueil mercredi</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_loisirs') }}">Accueil de loisirs</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_association') }}">Association</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_children') }}">Le coin des enfants</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_parents') }}">Le coin des parents</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_admin_informations') }}">Infos pratiques</a>
                        </div>
                        <div class="col-6 col-md-4 col-xl-12 mb-3">
                            <a class="btn btn-outline-light zoom-on-hover w-100" href="{{ path('app_user_index') }}">Utilisateurs du site</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 list">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_admin_index') }}" class="text-dark">Administration</a></li>
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </nav>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}