{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_periscolaire') }}" class="text-dark">Accueil périscolaire</a></li>
    <li class="breadcrumb-item">Tarifs</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3>Les tarifs de l'accueil périscolaire</h3>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Quotient familial</th>
                    <th>Matin (7h30-8h35)</th>
                    <th>Soir (16h-17h)</th>
                    <th>Soir (demi-heure)</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
            {% for price in prices %}
                <tr>
                    <td>{{ price.familyQuotient }}</td>
                    <td class="col-2">{{ price.morning|number_format(2, '.', ',') ~ ' €' }}</td>
                    <td class="col-2">{{ price.eveningFirstHour|number_format(2, '.', ',') ~ ' €' }}</td>
                    <td class="col-2">{{ price.eveningHalfHour|number_format(2, '.', ',') ~ ' €' }}</td>
                    <td class="col-1">
                        <a href="{{ path('app_price_edit', {'id': price.id}) }}">{{ source('@icons_path/update.svg') }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Les remises de l'accueil périscolaire</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Réduction</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td class="col-2">{{ city.wednesdayReduce|number_format(2, '.', ',') ~ ' €' }}</td>
                    <td class="col-1">
                        <a href="{{ path('app_city_edit', {'id': city.id}) }}">{{ source('@icons_path/update.svg') }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}