{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="card p-4 border-0 shadow">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Connexion</h4>
                        <form action="{{ path('app_login') }}" method="post">
                            {% if error %}  
                                <div class="mb-3">Identifiants invalides</div>
                            {% endif %}
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="login" name="_username" value="{{ last_username }}" placeholder="identifiant">
                                <label for="login">Identifiant</label>
                            </div>
                            <div class="form-floating mb-5 input-group">
                                    <input type="password" class="form-control" id="password" name="_password" placeholder="mot de passe" aria-label="Password" aria-describedby="basic-addon1">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span id="eye">{{ source('@icons_path/eye.svg') }}</span>
                                        <span class="d-none" id="eyeSlash">{{ source('@icons_path/eye-slash.svg') }}</span>
                                    </span>
                                    <label for="password">Mot de passe</label>
                                </div>
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <button class="btn btn-dark w-100" type="submit">Se connecter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('scripts/changePasswordVisibility.js') }}"></script>
    <script>
        changePasswordVisibility();
    </script>
{% endblock %}