<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EATA - {% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class={% block class %}{% endblock %}>
        <header>
            <div class="container">
                <div class="first-line-header">
                    {# logo #}
                    <a href="{{ path('app_page_home') }}">
                        <img src="{{ asset('img/logo.svg') }}" alt="" class="logo m-2">
                    </a>
                    <span class="burger-nav">
                        <nav class="navbar">
                            <div class="dropstart">
                                <button class="btn btn-light" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    <span class="navbar-toggler-icon">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_page_home') }}">Accueil</a>
                                    </li>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                La vie du centre
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li><a href="{{ path('app_page_periscolaire') }}"><button class="dropdown-item" type="button">L'accueil périscolaire</button></a></li>
                                                        <li><a href="{{ path('app_page_loisirs') }}"><button class="dropdown-item" type="button">L'accueil de loisirs</button></a></li>
                                                        <li><a href="{{ path('app_page_association') }}"><button class="dropdown-item" type="button">L'association</button></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_page_children') }}">Le coin des enfants</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_page_parents') }}">Le coin des parents</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_page_informations') }}">Infos pratiques</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </span>
                </div>
                <h1 class="text-center">
                    <span class="title first-word">En </span>
                    <span class="title second-word">Avant </span>
                    <span class="title third-word">Ton </span>
                    <span class="title fourth-word">Aventure</span>
                </h1>
                <h2 class="text-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">Accueil périscolaire et de loisirs associatif d’Avanton</h2>
                <nav class="full-screen-nav">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_page_home' %} class="active"{% endif %}" href="{{ path('app_page_home') }}">Accueil</a>
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-dropdown nav-link {% if teammates is defined %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                                La vie du centre
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_page_periscolaire') }}">L'accueil périscolaire</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_page_loisirs') }}">L'accueil de loisirs</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_page_association') }}">L'association</a></li>
                            </ul>
                        </div>
                        <a class="nav-link {% if app.request.attributes.get('_route') == '' %} class="active"{% endif %}" href="{{ path('app_page_children') }}">Le coin des enfants</a>
                        <a class="nav-link {% if app.request.attributes.get('_route') == '' %} class="active"{% endif %}" href="{{ path('app_page_parents') }}">Le coin des parents</a>
                        <a class="nav-link {% if app.request.attributes.get('_route') == '' %} class="active"{% endif %}" href="{{ path('app_page_informations') }}">Infos pratiques</a>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="mb-5 mt-5">
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li>Adresse</li>
                    <li>Téléphone</li>
                    <li>Mail</li>
                    <li>Mentions légales</li>
                    <li>Contact</li>
                    {% if app.user %}
                    <li>
                        <a href="{{ path('app_page_administration') }}">Administration</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </footer>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="{{ asset('scripts/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
