<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EATA - {% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body class={% block class %}{% endblock %}>
        {% block header %}
            {{ include('components/header/header.html.twig') }}
        {% endblock %}
        <main class="mb-5 mt-5">
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
            {{ include('components/footer/footer.html.twig') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
