{% extends 'admin/dashboard.html.twig' %}

{% block title %}Document index{% endblock %}

{% block breadcrumb %}
    {% if category_label == 'périscolaire' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_periscolaire') }}" class="text-dark">Accueil périscolaire</a></li>
    <li class="breadcrumb-item">Documents {{ category_label }}</li>
    {% elseif category_label == 'mercredi' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_mercredi') }}" class="text-dark">Accueil de loisirs du mercredi</a></li>
    <li class="breadcrumb-item">Documents {{ category_label }}</li>
    {% elseif category_label == 'loisirs' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_loisirs') }}" class="text-dark">Accueil de loisirs</a></li>
    <li class="breadcrumb-item">Documents {{ category_label }}</li>
    {% elseif category_label == 'infos' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_informations') }}" class="text-dark">Infos pratiques</a></li>
    <li class="breadcrumb-item">Tous les documents</li>
    {% elseif category_label == 'association' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_association') }}" class="text-dark">Association</a></li>
    <li class="breadcrumb-item">Documents de l'association</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if category_label == 'infos' %}
    <h3>Tous les documents à télécharger</h3>
    {% elseif category_label == 'association' %}
    <h3>Documents de l'association</h3>
    {% else %}
    <h3>Documents pour l'accueil {{ category_label }}</h3>
    {% endif %}
    <a href="{{ path('app_document_new', {'category_label': category_label}) }}" class="btn text-primary">
        {{ source('@icons_path/plus.svg') }} Créer
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du document</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>
                    <a href="{{ path('app_document_show', {'id': document.id}) }}" class="text-dark">
                        {{ document.label }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_document_show', {'id': document.id}) }}" class="text-dark">
                        <ul>
                        {% for category in document.category %}
                            <li>{{ category.label }}</li>
                        {% endfor %}
                        </ul>
                    </a>
                </td>
                <td class="col-1">
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('app_document_edit', {'id': document.id, 'category_label': category_label}) }}" title="Modifier" class="btn">
                                {{ source('@icons_path/update.svg') }}
                            </a>
                        </div>
                        <div class="col-6">
                            {{ include('document/_delete_btn.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
