{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="col-12 mb-3">
            <label>Photo</label>
            {{ form_widget(form.picture) }}
            {{ form_errors(form.picture) }}
        </div>
        <div class="col-12 mb-3">
            <label>Titre de l'article</label>
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        {% if article.picture != null %}
            <img src="{{ asset('uploads/img/' ~ article.picture) }}" alt="">
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <label>Contenu de l'article</label>
            {{ form_widget(form.content, {'attr': {'id': 'article_content'}}) }}
    </div>
</div>
    {% include('components/_buttonSave.html.twig') %}
{{ form_end(form) }}
