{% extends 'admin/dashboard.html.twig' %}

{% block title %}Article index{% endblock %}

{% block breadcrumb %}
    {% if category_label == 'actualités' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_home') }}" class="text-dark">Page Accueil</a></li>
    {% elseif category_label in ['activités', 'recettes', 'dessins', 'projets'] %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_children') }}" class="text-dark">Le coin des enfants</a></li>
    {% elseif category_label in ['bons plans', 'conseils', 'évènements', 'album photos'] %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_parents') }}" class="text-dark">Le coin des parents</a></li>
    {% endif %}
    <li class="breadcrumb-item">{{ category_label|capitalize }}</li>
{% endblock %}

{% block content %}
        <h3 class="mt-4">Liste des {{ category_label }}</h3>
        <div class="d-flex justify-content-between">
        <a href="{{ path('app_article_new', {'category_label': category_label}) }}" class="btn text-primary">
            {{ source('@icons_path/plus.svg') }} Créer
        </a>
            {{ knp_pagination_render(articles) }}
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}

                    {% set article_content = article.content|striptags %}
                <tr>
                    
                    <td class="col-2">
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">
                        {% if article.picture %}
                            <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="img-thumbnail" alt="">
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-dark">
                        {{ article.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-dark">
                        {{ article_content|slice(0, 50) }}
                        {% if article_content|length > 100 %} ...{% endif %}
                        </a>
                    </td>
                    <td>
                    {% if article.user %}
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-dark">
                        {{ article.user.firstname }}
                        </a>
                    {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-dark">
                        {{ article.createdAt|date('d/m/Y') }}
                        </a>
                    </td>
                    <td class="col-1">
                        <div class="row">
                            <div class="col-6">
                                {{ include('article/_update_btn.html.twig') }}
                            </div>
                            <div class="col-6">
                                {{ include('article/_delete_btn.html.twig') }}
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="deleteArticleVerif{{ article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer un article</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous certain(e) de vouloir supprimer cet article ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_article_delete', {'id': article.id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
                {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
{% endblock %}
