{% extends 'admin/dashboard.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
    <h3>Article</h3>

    {% if article.picture %}
        <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="img-thumbnail" alt="">
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content|raw }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td>{{ include('article/_update_btn.html.twig') }}</td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td>{{ include('article/_delete_btn.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
