{% extends 'admin/dashboard.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3 h-auto">
    <h3>Article</h3>

    {% if article.picture %}
        <img src="{{ asset('uploads/img/' ~ article.picture) }}" class="img-thumbnail" alt="">
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            {% if article.content %}
            <tr>
                <th>Contenu</th>
                <td>{{ article.content|raw }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Créé le</th>
                <td>{{ article.createdAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td>{{ include('article/_update_btn.html.twig') }}</td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td>{{ include('article/_delete_btn.html.twig') }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
