{{ form_start(form) }}
    <div class="mb-3">
        <label for="lastname">Nom</label>
        {{ form_widget(form.lastname) }}
    </div>
    <div class="mb-3">
        <label for="firstname">Prénom</label>
        {{ form_widget(form.firstname) }}
    </div>
    <div class="mb-3">
        <label for="login">Identifiant</label>
        {{ form_widget(form.login) }}
    </div>
    <div class="mb-3">
        <label for="newPassword">Mot de passe</label>
        <div class="input-group mb-3">
            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control', 'type': 'password', 'aria-label': 'Password', 'aria-describedby': 'basic-addon1'}}) }}
            {{ form_errors(form.newPassword) }}
            <span class="input-group-text" id="basic-addon1">
                <span id="eye">{{ source('@icons_path/eye.svg') }}</span>
                <span class="d-none" id="eyeSlash">{{ source('@icons_path/eye-slash.svg') }}</span>
            </span>
        </div>
    </div>
    <div class="mb-3 {% if 'ROLE_ADMIN' not in app.user.roles %}d-none{% endif %}">
        <label for="roles">Droits d'accès</label>
        {{ form_widget(form.roles) }}
    </div>
    <button class="btn btn-outline-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


