{% extends 'admin/dashboard.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h3>Utilisateurs</h3>
    <a href="{{ path('app_register') }}" class="btn text-primary">
        {{ source('@icons_path/plus.svg') }} Créer
    </a>
    <table class="table">
        <thead>
            <tr>
                <th class="d-none d-md-table-cell">Nom</th>
                <th class="d-none d-md-table-cell">Prénom</th>
                <th>Identifiant</th>
                <th>Droits d'accès</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
            <tr>
                <td class="d-none d-md-table-cell"><a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-dark">{{ user.lastname }}</a></td>
                <td class="d-none d-md-table-cell"><a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-dark">{{ user.firstname }}</a></td>
                <td><a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-dark">{{ user.login }}</a></td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-dark">
                        {{ include('user/_roles.html.twig') }}
                    </a>
                </td>
                <td class="col-1">
                    <div class="row">
                        {# {% if 'ROLE_ADMIN' not in user.roles %} #}
                        <div class="col-6">
                            {{ include('user/_update_btn.html.twig') }}
                        </div>
                        <div class="col-6">
                            {{ include('user/_delete_btn.html.twig') }}
                        </div>
                        {# {% endif %} #}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
