{% extends 'admin/dashboard.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1>Utilisateur</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ user.login }}</td>
                </tr>
                <tr>
                    <th>Droits d'accès</th>
                    <td>
                    {% for role in user.roles %}
                        {{ role|json_encode }}
                    {% endfor %}
                    </td>
                </tr>
                {% if 'ROLE_ADMIN' not in user.roles %}
                <tr>
                    <th>Modifier</th>
                    <td>{{ include('user/_update_btn.html.twig') }}</td>
                </tr>
                <tr>
                    <th>Supprimer</th>
                    <td>{{ include('user/_delete_btn.html.twig') }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
    
{% endblock %}
