{{ form_start(form) }}
    <div class="mb-3">
        <label for="lastname">Nom</label>
        {{ form_widget(form.lastname) }}
    </div>
    <div class="mb-3">
        <label for="firstname">Prénom</label>
        {{ form_widget(form.firstname) }}
    </div>
    <div class="mb-3">
        <label for="job">Poste</label>
        {{ form_widget(form.job) }}
    </div>
    {% if form.picture is defined %}
    {% if form.old_picture.vars.value %}
    <div class="mb-3 d-flex justify-content-center">
        <img src="{{ asset('uploads/cropped-img/' ~ form.old_picture.vars.value) }}" alt="" class="h-100 rounded">
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="job">Photo</label>
        {{ form_widget(form.picture) }}
        {{ form_errors(form.picture) }}
    </div>
    <div class="mb-3">
        <label for="job">Description</label>
        {{ form_widget(form.description) }}
    </div>
    {% endif %}
    <div class="mb-3">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <input type="checkbox" name="" id="">
        </button>
        Cette personne est-elle directeur(trice) / président(e) ?
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ form_widget(form.hierarchy) }}
            </div>
        </div>
    </div>
    {% include('components/_buttonSave.html.twig') %}
{{ form_end(form) }}
