{% extends 'admin/dashboard.html.twig' %}

{% block title %}Teammate index{% endblock %}

{% block content %}
    <h3>{{ category|capitalize }}</h3>
    <a href="{{ path('app_teammate_new', {'category': category}) }}" class="btn text-primary">
            {{ include('icons/plus.html.twig') }} Créer
        </a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teammate in teammates %}
            <tr>
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.lastname }}</a></td>
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.firstname }}</a></td>
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.job }}</a></td>
                <td class="col-1">
                    <div class="row">
                        <div class="col-6">
                            {{ include('teammate/_update_btn.html.twig') }}
                        </div>
                        <div class="col-6">
                            {{ include('teammate/_delete_btn.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
