{% extends 'admin/dashboard.html.twig' %}

{% block title %}Teammate index{% endblock %}

{% block breadcrumb %}
    {% if category_label == 'périscolaire'%}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_periscolaire') }}" class="text-dark">Accueil périscolaire</a></li>
    {% elseif  category_label == 'loisirs' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_loisirs') }}" class="text-dark">Accueil de loisirs</a></li>
    {% elseif  category_label == 'mercredi' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_mercredi') }}" class="text-dark">Accueil du mercredi</a></li>
    {% elseif  category_label == 'association' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_association') }}" class="text-dark">Association</a></li>
    {% endif %}
    <li class="breadcrumb-item">Equipe {{ category_label }}</li>
{% endblock %}

{% block content %}
    <h3>{{ category_label|capitalize }}</h3>
    <a href="{{ path('app_teammate_new', {'category_label': category_label}) }}" class="btn text-primary">
        {{ source('@icons_path/plus.svg') }} Créer
    </a>
    <table class="table">
        <thead>
            <tr>
                {% if category_label == 'association'%}
                <th>Photo</th>
                {% endif %}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teammate in teammates %}
            <tr>
                {% if category_label == 'association'%}
                <td class="col-2">
                    <a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">
                        {% if teammate.picture %}
                        <img src="{{ asset('uploads/cropped-img/' ~ teammate.picture) }}" class="rounded" style="height: 170px; width: 170px" alt="photo de profil de {{ teammate.firstname ~ ' ' ~ teammate.lastname }}">
                        {% else %}
                        {% set initials = teammate.firstname|slice(0, 1) ~ teammate.lastname|slice(0, 1) %}
                        <div class="border-3 rounded d-flex justify-content-center align-items-center" style="height: 170px; width: 170px">
                            <div class="fs-1 fw-bold yellow-text">{{ initials|upper }}</div>
                        </div>
                        {% endif %}
                    </a>
                </td>
                {% endif %}
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.lastname }}</a></td>
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.firstname }}</a></td>
                <td><a href="{{ path('app_teammate_show', {'id': teammate.id}) }}" class="text-dark">{{ teammate.job }}</a></td>
                <td class="col-1">
                    <div class="row">
                        <div class="col-6">
                            {{ include('teammate/_update_btn.html.twig') }}
                        </div>
                        <div class="col-6">
                            {{ include('teammate/_delete_btn.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
