{% extends 'admin/dashboard.html.twig' %}

{% block title %}Teammate{% endblock %}

{% block breadcrumb %}
    {% if category_label == 'périscolaire'%}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_periscolaire') }}" class="text-dark">Accueil périscolaire</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_teammate_index', {'category_label': 'périscolaire'}) }}" class="text-dark">Equipe d'animation</a></li>
    {% elseif  category_label == 'loisirs' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_loisirs') }}" class="text-dark">Accueil de loisirs</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_teammate_index', {'category_label': 'loisirs'}) }}" class="text-dark">Equipe d'animation</a></li>
    {% elseif  category_label == 'mercredi' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_mercredi') }}" class="text-dark">Accueil du mercredi</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_teammate_index', {'category_label': 'mercredi'}) }}" class="text-dark">Equipe d'animation</a></li>
    {% elseif  category_label == 'association' %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_association') }}" class="text-dark">Association</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_teammate_index', {'category_label': 'association'}) }}" class="text-dark">Equipe d'animation</a></li>
    {% endif %}
    <li class="breadcrumb-item">{{ teammate.firstname }} {{ teammate.lastname }}</li>
{% endblock %}

{% block content %}
{# {{ category_label }} #}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td class='col-6'>{{ teammate.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ teammate.firstname }}</td>
                </tr>
                <tr>
                    <th>Poste</th>
                    <td>{{ teammate.job }}</td>
                </tr>
                {% if category_label == "association" %}
                {% if teammate.picture %}
                <tr>
                    <th>
                        <div>Photo</div>
                        <a href="{{ path('app_cropperjs', {'filename': teammate.picture} ) }}">Recadrer</a>
                    </th>
                    <td>
                        <img src="{{ asset('uploads/cropped-img/' ~ teammate.picture) }}" alt="" class="h-auto">
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Description</th>
                    <td>{{ teammate.description }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Modifier</th>
                    <td>{{ include('teammate/_update_btn.html.twig') }}</td>
                </tr>
                <tr>
                    <th>Supprimer</th>
                    <td>{{ include('teammate/_delete_btn.html.twig') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
