{% extends 'admin/dashboard.html.twig' %}

{% block title %}Teammate{% endblock %}

{% block content %}
{{ category_label }}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td class='col-6'>{{ teammate.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ teammate.firstname }}</td>
                </tr>
                <tr>
                    <th>Poste</th>
                    <td>{{ teammate.job }}</td>
                </tr>
                {% if category_label == "association" %}
                <tr>
                    <th>Photo</th>
                    <td>
                        <img src="{{ asset('uploads/img/' ~ teammate.picture) }}" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ teammate.description }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Modifier</th>
                    <td>{{ include('teammate/_update_btn.html.twig') }}</td>
                </tr>
                <tr>
                    <th>Supprimer</th>
                    <td>{{ include('teammate/_delete_btn.html.twig') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
