{% extends 'admin/dashboard.html.twig' %}

{% block title %}Teammate{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ teammate.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ teammate.firstname }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ teammate.job }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_teammate_edit', {'id': teammate.id}) }}">edit</a>

    {{ include('teammate/_delete_form.html.twig') }}
{% endblock %}
